html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

div,
ul,
li,
section,
p,h2,span {
  margin: 0;
  padding: 0;
}
.layout {
  height: 100%;
}
#app aside {
  width: 200px;
}

#app header,
footer.el-footer {
  height: 80px;
}

img {
  vertical-align: bottom;
}
li {
  list-style: none;
}

#app .is-active {
  border-bottom-color: #ea5555;
}
#app .el-footer {
  border-top: 1px solid #ccc;
}

#app .open-p-l {
  height: calc(100% - 80px);
}
.el-drawer {
  box-shadow: none !important;
  border-left: 1px solid #ccc;
}

#app .el-progress-bar__inner {
  transition: none;
}